body {
  font-family: 'Roboto', sans-serif;
}

ul {
  text-align: left;
}

code {
  font-family: 'Roboto Mono', monospace;
  text-align: left;
  font-size: 36px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Roboto Slab', serif;
}

p {
  text-align: left;
  font-size: 36px;
}

.step {
  width: 900px;
  font-size: 48px;
}

.aligned.center {
  text-align: center;
}

.impress-supported .fallback-message {
  display: none;
}

ul.fa-ul {
  margin-left: 0;
}

.fa-middle {
  vertical-align: middle;
}
